/* your css code */
.item {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  margin: 15px 0;
  background-color: #fff;
}
.item:last-child {
  padding-bottom: 0;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 5px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.avatar {
  border-radius: 10px;
}
.name {
  width: 50px;
  height: 20px;
  font-family: sans-serif;
  margin-left: 20px;
  font-weight: bold;
  font-size: 20px;
}
